@import "../variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Berkshire Swash', cursive;
  overflow-x: hidden;
}
body {
  background-color: $background-color;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: auto;
  width: 100vw;
  background-color: $background-color;
  color: $primary-black;
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    transform: translateY(30px);
    margin-bottom: 50px;
  }
  img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5rem;
      text-align: center;
    }
  }
}
@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 110vh;
    svg {
      grid-column: 1 / 8;
      grid-row: 4;
    }
    h1 {
      font-size: 4.5rem;
      text-align: center;
      margin-top: 20px;
      grid-column: 1 / 5;
      grid-row: 1 / 4;
    }
    img {
      grid-column: 5 / 7;
      grid-row: 1 / 4;
    }
  }
}
@media screen and (min-width: 1400px) {
  .main {
    h1 {
      font-size: 4.5rem;
      text-align: center;
      margin-top: 20px;
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
    img {
      grid-column: 5 / 7;
      grid-row: 1 / 4;
    }
  }
}