@import "../_variables";
@import "../_animations";
.checkout {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    min-height: 100vh;
    width: 100vw;
    animation: 1s entryAnimation;
    h3 {
        text-align: center;
    }
    .checkout__content {
        width: 100vw;
        padding: 10px;
        text-align: center;
    }
    .checkout__sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 150px;
        text-align: center;
        h3 {
            font-size: 1.5rem;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 200px;
            margin: 30px 0;
            border: none;
            color: white;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 5px;
            text-decoration: none;
            background-color: $primary-blue;
            transition: 0.5s;
            &:hover {
                color: white;
                transition: 0.5s;
                background-color: black;
            }
        }
    }
}
.checkout--none {
    margin-top: 130px;
    min-height: 100vh;
    font-size: 1.5rem;
    text-align: center;
}
@media screen and (min-width: 400px) {
    .checkout {
        display: flex;
        flex-direction: column;
        margin-top: 130px;
        width: 100vw;
        .checkout__content {
            width: 100vw;
            padding: 10px;
            text-align: center;
            h3 {
                font-size: 1.5rem;
            }
        }
    }   
}
@media screen and (min-width: 768px) {
    .checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
        width: 100vw;
        .checkout__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            padding: 10px;
            text-align: center;
            h3 {
                font-size: 1.6rem;
            }
        }
        .checkout__sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 250px;
            text-align: center;
            h3 {
                font-size: 1.8rem;
            }
            a {
                height: 50px;
                width: 250px;
                margin: 40px 0;
                font-size: 1.2rem;
            }
        }
    }   
}
@media screen and (min-width: 1024px) {
    .checkout {
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top: 100px;
        width: 100vw;
        h3 {
            font-size: 1.5rem;
        }
        .checkout__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            grid-column: 1;
            align-items: center;
            width: 100%;
            padding: 40px;
            text-align: center;
            h3 {
                font-size: 1.6rem;
            }
        }
        .checkout__item {
            justify-self: center;
        }
        .checkout__sidebar {
            align-self: center;
            grid-row: 1;
            grid-column: 2;
        }
    }   
}
@media screen and (min-width: 1280px) {
    .checkout {
        grid-template-columns: 70% 30%;
        grid-template-rows: 150px repeat(3, 1fr);
        & > h3 {
            font-size: 1.8rem;
            align-self: start;
            margin: 30px 0;
        }
        .checkout__content {
            justify-content: center;
            height: fit-content;
            padding: 10px;
            grid-column: 1;
            text-align: center;
        }
        .checkout__sidebar {
            grid-column: 2;
            height: 100%;
            justify-content: space-evenly;
            a {
                margin: 0;
            }
        }
    }
}
@media screen and (min-width: 1800px) {
    .checkout {
        grid-template-columns: 70% 30%;
        h3 {
            align-self: start;
            font-size: 1.8rem;
        }
        .checkout__content {
            justify-content: center;
            height: fit-content;
            width: 70%;
            margin: 0 auto;
            grid-column: 1;
            text-align: center;
        }
        .checkout__sidebar {
            justify-self: start;
            grid-column: 2;
        }
    }
}