.checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 40vh;
  max-height: auto;
  width: 100vw;
 .checkout__content {
   text-align: center;
   width: 100%;
   h3 {
    font-size: 1.5rem;
    margin: 30px 0;
   }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 320px;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
    background-color: whitesmoke;
    img {
      object-fit: cover;
      width: 100px;
    }
  }
  &__item .fas {
    margin: 0 0 0 10px;
    color: #d9b99b;
    font-size: 1.1rem;
    cursor: pointer;
  }
  &__item button {
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(-20px);
  }
  &__element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
 }

  &__sidebar {
    margin-top: 50px;
    text-align: center;
  }

  &__sidebar button {
      display: inline-block;
      width: 300px;
      font-size: 1rem;
      font-weight: bold;
      padding: 12px 42px;
      cursor: pointer;
      transition: 0.5s;
      margin-top: 15px;
  }

  a {
    text-decoration: none;
  }
}