@import "../variables";
.footer--svg {
  display: inline-block;
  transform: translateY(15px);
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 40px 0;
  width: 100vw;
  background-color: $primary-black;
  color: $primary-color;
  
  ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    a {
      text-decoration: none;
      color: $primary-color;
    }
    i {
      margin: 20px;
      font-size: 3.5rem;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .footer {
    padding: 0;
    p {
      transform: translateY(-25px);
    }
    ul {
      transform: translateY(-25px);
    }
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    min-height: 40px;
    padding: 0;
    p {
      font-size: 1.2rem;
      transform: translateY(-40px);
    }
    ul {
      transform: translateY(-25px);
      i {
        
      font-size: 3rem;
      }
    }
  }
}
