@import "../_animations";
@import "../variables";
.header {
  position: relative;
  width: 100vw;
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100vw;
    height: auto;
    .navbar__logo {
      width: 65px;
      height: 60px;
      margin-top: 5px;
    }
    .navbar__hamburguer {
      z-index: 11;
      position: absolute;
      top: 25px;
      right: 20px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30px;
      width: 40px;
      cursor: pointer;

      .navbar__item:nth-child(1) {
        height: 4px;
        border-radius: 5px;
	background-color: $primary-black;
      }
      .navbar__item:nth-child(2) {
        height: 4px;
        border-radius: 5px;
	background-color: $primary-black;
      }
      
      .navbar__item:nth-child(3) {
        height: 4px;
        border-radius: 5px;
	background-color: $primary-black;
      }
      &--active {
        
        .navbar__item--active:nth-child(1) {
       	background-color: $primary-color;   
          animation: 0.5s menu forwards;
        }
        
        .navbar__item--active:nth-child(2) {
	  background-color: $primary-color;
	  animation: 0.5s menucenter forwards;
        }
        .navbar__item--active:nth-child(3) {
          background-color: $primary-color;
          animation: 0.5s menu2 forwards;
        }
      }
    }
  }
  .navbar__menu--disabled {
    display: none;
  }
  .navbar__menu--enabled {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    list-style: none;
    color: $primary-color;
    background-color: rgba($color: #000000, $alpha: .7);
    li {
      margin: 40px 0;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &__alert {
    color: $primary-blue;
    font-size: 1.2rem;
    margin-left: 5px;
  }
  &__check {
    z-index: 50;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $background-color;
    font-family: sans-serif;
    animation: 2s pulse;
    text-align: center;
    box-shadow: 0 0 3px 0 gray;
  }
  & a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: $primary-blue;
  }
}


@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    &__navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      width: 100vw;
      height: auto;
      .navbar__logo {
        width: 80px;
        height: 75px;
      }
      .navbar__hamburguer {
        display: none;
        }
      }
    
    .navbar__menu--disabled {
      z-index: 10;
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 76px;
      width: fit-content;
      list-style: none;
      background-color: transparent;
      li {
        margin: 0 20px;
        font-size: 1.6rem;
        padding: 20px;
        cursor: pointer;
      }
    }
    .navbar__menu--enabled {
      z-index: 10;
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: fit-content;
      width: fit-content;
      list-style: none;
      color: $primary-beige;
      background-color: rgba($color: #000000, $alpha: .5);
      li {
        margin: 0 0;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }

}
