.header {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #000;
    .header__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: 10px;
        img {
            width: 51px;
            height: 61px;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .header__navbar {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}
@media screen and (min-width: 1024px) {
    .header {
        .header__navbar {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: none;
        }
    }
}