.header {
    z-index: 3;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    background-color: white;
    .header__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 10px;
        padding-right: 20px;
        img {
            width: 41px;
            height: 51px;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
        height: fit-content;
        .header__navbar {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (min-width: 1024px) {
    .header {
        height: 65px;
        .header__navbar {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: none;
        }
    }
}