@import "../animations";
.menuSidebar { 
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 100vw;
    left: 105vw;
    bottom: 0;
    width: 70vw;
    height: 100vh;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgb(7, 7, 7); 
    background-color: rgb(255,255,255);
    transition: all ease-out 0.4s;
    &--on {
        left: 30vw;
        transition: all ease-out 0.4s;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70vh;
	    list-style: none;	
    	a {
            text-decoration: none;
            li {
                width: 100%;
                padding: 20px 20px;
                text-align: center;
                color: black;
                font-weight: 500;
        }
	    }
    }
}
@media screen and (min-width: 768px) {
    .menuSidebar { 
        top: 2px;
        right: 0;
        left: calc(100% - 90vw);
        height: 80px;
        width: 90vw; 
        box-shadow: none;
        background-color: transparent;
        ul {
            flex-direction: row;
            height: 100%;
            width: 100%;
            a:nth-child(1) li {
                display: none;
            }
            a:nth-child(5) li {
                display: none;
            }
            a li{
                color: black;
                font-size: 1.1rem;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .menuSidebar { 
        display: none;
    }
}
