@import "../animations";
.productItem {
    position: relative;
    display: grid;
    width: 320px;
    height: auto;
    margin: 30px;
    border-radius: 10%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgb(205, 205, 205);
    animation: 0.5s entryAnimation;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        box-shadow: 0 0 20px 0 rgb(205, 205, 205);
    }
    img {
        width: 100%;
        padding-top: 50px;
    }
    .productItem__info {
        display: inline-block;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: fit-content;
        width: max-content;
        h2 {
            font-size: 1.7rem;
            padding: 10px;
            color: white;
            text-shadow: 2px 2px rgb(100, 100, 100);
            border-top-left-radius: 10px;
            background-color: black;
        }
        span {
            font-size: 1.4rem;
            padding: 10px;
            color: #0ffdbe;
            font-weight: bold;
            text-shadow: 2px 2px rgb(100,100,100);
            background-color: black;
        }
    }
    i {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #09dfa6;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 30px;
        justify-self: center;
        cursor: pointer;
        &:hover { 
            color: red;
        }
    }
    .heartAnimation {
      animation: 0.5s heart
    }
}
