@import "../variables";
@import "../animations";
.categories {
  background-color: whitesmoke;
  h4 {
    text-align: center;
    font-size: 2.5rem;
  }
  .product__container {
    display: flex;
    position: relative;
    overflow-x: scroll;
    height: auto;
    width: 100vw;
    padding: 30px 0;
    &--entry {
      animation: entry 1s;
    }
    .products {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 380px;
      width: 300px;
      transition: 0.5s;
      color: $primary-color;
      border-radius: 5px;
      padding-bottom: 15px;
      margin: 10px 15px;
      border-radius: 30px;
      background-color: #131313;
      &:hover {
        transition: 0.5s;
        transform: scale(1.05);
      }
      &__img {
        width: 305px;
        height: 300px;
        border-radius: 30px;
      }
      &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        span {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }  
    }
  }
}
@media screen and (min-width: 768px) {
  .categories {
    .product__container {
      display: flex;
      overflow: hidden;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
@media screen and (min-width:1600px) {
  .categories {
    h4 {
      font-size: 2.3rem;
    }
    .product__container {
      .products {
        height: 350px;
	width: 278px;
	&__img {
	  height: 280px;
	  width: 280px;
	}
      }
    }
  }
}
