.productsCategories {
    width: 100vw;
    padding-top: 50px;
    margin-top: 15vh;
    h3 {
        margin-bottom: 50px;
        font-size: 2rem;
        text-align: center;
    }
}
.categoriesSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: 100vw;
    margin-bottom: 50px;
    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 80px;
        text-align: center;
        background-color: whitesmoke;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 90px;
            color: #000;
            background-color: whitesmoke;
            font-weight: bold;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: #0bbae6;
                transition: 0.5s;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .productsCategories {
        width: 100vw;
        .categoriesSidebar {
            width: fit-content;
            margin: 50px auto;
            &__menu {
                li {
                    width: 130px;
                }
            }
        }
        h3 {
            margin-bottom: 50px;
            font-size: 2.5rem;
            text-align: center;
        }
    }
}
@media screen and (min-width: 1024px) {
    .productsCategories {
        width: 100vw;
        .categoriesSidebar {
            width: fit-content;
            &__menu {
                li {
                    width: 150px;
                }
            }
        }
        h3 {
            margin-bottom: 50px;
            font-size: 3rem;
            text-align: center;
        }
    }
}