.searchProducts {
    width: 60vw;
    input {
        padding: 8px 10px;
        width: 100%;
        border: none;
        color: gray;
        border-radius: 30px;
        border: 2px solid rgb(200, 200, 200);
        background-color:  transparent;
        &::placeholder {
            color: gray;
            font-weight: bold;
        }
        &:hover &::placeholder{
            display: none;
        }  
    }
}

@media screen and (min-width: 768px) {
    .searchProducts {
        width: 90vw;
        align-self: center;
        justify-self: center;
        grid-row:  2;
        grid-column: 1 / 4;
    }
}
@media screen and (min-width: 1024px) {
    .searchProducts {
        width: 55vw;
        align-self: center;
        justify-self: end;
        grid-row:  1;
        grid-column: 2 / 3;
    }
}
@media screen and (min-width: 1300px) {
    .searchProducts {
        width: 60vw;
    }
}