.success {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 0 4em 0;

  &__content {
    font-size: 2rem;
  }
}
.success__map {
  margin: 10px 0 0 0;
}
