.main {
    display: grid;
    width: 100vw;
    justify-content: center;
    padding-top: 60px;
    background-color: white;
    img {
        width: 100%;
        &:nth-child(1) {
            background-color: #e22379;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2338363a' fill-opacity='0.06'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        &:nth-child(2) {
            padding: 35px;
            background-color: #4cc9f0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23847d90' fill-opacity='0.05'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
        &:nth-child(3) {
            background-color: #fdfcfd;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.06'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    }
}
.main__section {
    padding: 25px;
    height: 150px;
    width: 100%;
    background: linear-gradient(140deg, #000 50%, #fff 50%);
    transition: 0.5s;
    text-align: center;
    }
@media screen and (min-width: 768px) {
    .main {
        padding-top: 105px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 400px);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            justify-self: center;
            padding: 30px;
            &:nth-child(1) {
                grid-column: 1 / 4;
                grid-row: 1 / 3;
                align-self: center;
            }
            &:nth-child(2) {
                grid-column: 4 / 7;
            }
            &:nth-child(3) {
                grid-column: 4 / 7;
                padding: 10px;
            }
        }
    }
    .main__section {
        height: 180px;
        grid-column: 1/ 7;
        h3 {
            margin-top: 12px;
            font-size: 1.5rem;
        }
        button {
            height: 60px;
            width: 220px;
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        padding-top: 65px;
        img {
            padding: 40px;
            &:nth-child(4) {
                width: 60%;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .main {
        img {
            padding: 20px;
        }
    }
}
@media screen and (min-width: 1800px) {
  .main {
    img {
      padding: 40px;
    }
  }
    .main__section {
        height: 220px;
        h3 {
            margin-top: 35px;
        }
    }
}
